.mainFooter {
  background-color: black;
  text-align: center;
  padding: 10px 0;
}

.mainFooter__btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.mainFooter p {
  padding: 0;
  margin: 0;
}
